@-webkit-keyframes turn {
  50% {
    -webkit-transform: rotateX(5deg) rotateY(0.5turn);
    -ms-transform: rotateX(5deg) rotateY(0.5turn);
    transform: rotateX(5deg) rotateY(0.5turn);
  }
  100% {
    -webkit-transform: rotateX(-5deg) rotateY(1turn);
    -ms-transform: rotateX(-5deg) rotateY(1turn);
    transform: rotateX(-5deg) rotateY(1turn);
  }
}
@-moz-keyframes turn {
  50% {
    -webkit-transform: rotateX(5deg) rotateY(0.5turn);
    -ms-transform: rotateX(5deg) rotateY(0.5turn);
    transform: rotateX(5deg) rotateY(0.5turn);
  }
  100% {
    -webkit-transform: rotateX(-5deg) rotateY(1turn);
    -ms-transform: rotateX(-5deg) rotateY(1turn);
    transform: rotateX(-5deg) rotateY(1turn);
  }
}
@-o-keyframes turn {
  50% {
    -webkit-transform: rotateX(5deg) rotateY(0.5turn);
    -ms-transform: rotateX(5deg) rotateY(0.5turn);
    transform: rotateX(5deg) rotateY(0.5turn);
  }
  100% {
    -webkit-transform: rotateX(-5deg) rotateY(1turn);
    -ms-transform: rotateX(-5deg) rotateY(1turn);
    transform: rotateX(-5deg) rotateY(1turn);
  }
}
@keyframes turn {
  50% {
    -webkit-transform: rotateX(5deg) rotateY(0.5turn);
    -ms-transform: rotateX(5deg) rotateY(0.5turn);
    transform: rotateX(5deg) rotateY(0.5turn);
  }
  100% {
    -webkit-transform: rotateX(-5deg) rotateY(1turn);
    -ms-transform: rotateX(-5deg) rotateY(1turn);
    transform: rotateX(-5deg) rotateY(1turn);
  }
}
body {
  margin: 0;
  overflow: hidden;
  background: #000;
}
body .container {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-perspective: 700px;
  -ms-perspective: 700px;
  perspective: 700px;
}
body .container .carousel {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 97px;
  margin-left: -140px;
  margin-top: -97px;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-5deg) rotateY(0);
  -ms-transform: rotateX(-5deg) rotateY(0);
  transform: rotateX(-5deg) rotateY(0);
  -webkit-animation: turn 20s infinite linear;
  -moz-animation: turn 20s infinite linear;
  -o-animation: turn 20s infinite linear;
  animation: turn 20s infinite linear;
}
body .container .carousel .slide {
  position: absolute;
  width: 140px;
  height: 97px;
  border-radius: 8px;
  box-shadow: 0 0 4px 1px #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body .container .carousel .slide:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(196px);
  -ms-transform: rotateY(0deg) translateZ(196px);
  transform: rotateY(0deg) translateZ(196px);
}
body .container .carousel .slide:nth-child(2) {
  -webkit-transform: rotateY(7deg) translateZ(196px);
  -ms-transform: rotateY(7deg) translateZ(196px);
  transform: rotateY(7deg) translateZ(196px);
}
body .container .carousel .slide:nth-child(3) {
  -webkit-transform: rotateY(14deg) translateZ(196px);
  -ms-transform: rotateY(14deg) translateZ(196px);
  transform: rotateY(14deg) translateZ(196px);
}
body .container .carousel .slide:nth-child(4) {
  -webkit-transform: rotateY(21deg) translateZ(196px);
  -ms-transform: rotateY(21deg) translateZ(196px);
  transform: rotateY(21deg) translateZ(196px);
}
body .container .carousel .slide:nth-child(5) {
  -webkit-transform: rotateY(28deg) translateZ(196px);
  -ms-transform: rotateY(28deg) translateZ(196px);
  transform: rotateY(28deg) translateZ(196px);
}
body .container .carousel .slide:nth-child(6) {
  -webkit-transform: rotateY(35deg) translateZ(196px);
  -ms-transform: rotateY(35deg) translateZ(196px);
  transform: rotateY(35deg) translateZ(196px);
}
body .container .carousel .slide:nth-child(7) {
  -webkit-transform: rotateY(42deg) translateZ(196px);
  -ms-transform: rotateY(42deg) translateZ(196px);
  transform: rotateY(42deg) translateZ(196px);
}

/*# sourceMappingURL=effect.css.map */
