@mixin x {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: blue;
  border: 1px solid;
  padding: 10px;
}

.navbar {
  background-color: orangered;
  padding: 1rem;
  ul {
    list-style: none;
  }
  li {
    text-align: center;
    margin: 1rem;
    @include x;
  }
}

.header {
  @include x;
}

.footer {
  a {
    @include x;
  }
}

.sidebar {
  @include x;
}
